/* SASS */

$color-white: white
$color-brown: #4a3821db
$head-foot: #2f2004e6
$abouttext-color: #efeede

*
	font-family: 'Quicksand', sans-serif

html
	scroll-behavior: smooth

body
	background-image: url('../images/bg2.jpg')
	background-size: cover
	background-position: top
	background-repeat: no-repeat
	background-attachment: fixed

strong
	font-family: 'Playfair Display', serif

iframe 
	width: 100%
	height: 100%

// NAV HEADER AREA
#head-item
	li
		a 
			color: $color-white
			font-family: 'Quicksand', sans-serif
			letter-spacing: 1px
			margin-left: 10px
			margin-right: 10px

#nav-head, #nav-foot
	background-color: $head-foot

#head-name
	font-family: 'Modak', cursive
	font-size: 35px
	letter-spacing: 12px

#icon-img
	width: 50px
	height: 50px
	border: 2px solid $color-white
	border-radius: 50%
	padding: 0
	margin: 0

// NAV ITEM ANIMATION
.nav-item::after
	content: ''
	display: block
	width: 0px
	height: 2px
	background: #fec400
	transition: 1s

.nav-item:hover::after
	width: 90%

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover
	color: #fec400

.nav-link
	padding: 15px 5px
	transition: 1s

.dropdown-item.active, .dropdown-item:active
	color: #212529

.dropdown-item:focus, .dropdown-item:hover
	background: #fec400

//  HOME AREA
#h2-home, #h2-gallery, #h2-about, #h2-about
	color: $color-white
	letter-spacing: 10px
	// text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white
	// font-weight: bolder
	font-family: 'Playfair Display', serif

#home-row
	background-color: #0e0a05bf
	border-radius: 10px

#home-text
	color: $abouttext-color
	line-height: 200%
	letter-spacing: 1px
	text-indent: 50px

#home-text::first-letter
	font-size: 30px
	font-family: 'Modak', cursive

// ABOUT AREA
#about-row
	background-color: $color-brown

#about-pic
	width: 50%
	border-radius: 70px
	margin-bottom: 30px
	border: 2px solid $color-white

#about-text1, #about-text2
	color: $abouttext-color
	line-height: 200%
	letter-spacing: 1px
	text-indent: 50px

#about-text1::first-letter
	font-size: 30px
	font-family: 'Modak', cursive

#about-text2::first-letter
	font-size: 30px
	font-family: 'Modak', cursive

#about-text-bg
	background-color: #332405
	border-radius: 10px
	text-align: center

// GALLERY AREA
#gal-bg, #gal-bg1, #gal-bg2, #gal-bg3
	border-radius: 10px
	text-align: center

#row-gal
	padding-top: 20px
	padding-bottom: 20px
	background-color: #0e0a05e6
	border-radius: 10px

#galimgtl, #galimgtr
	width: 100%
	border: 1px solid $color-white
	transition: transform 1s

#galimgsolo
	width: 50%
	border: 1px solid $color-white
	transition: transform 1s

#galimgbottom
	width: 50%
	border: 1px solid $color-white
	transition: transform 1s

#galimgbottom:hover
	transform: scale(.9)
	transition: 1s

#galimgsolo:hover
	transform: scale(.9)
	transition: 1s

#galimgtl:hover
	transform: scale(.9)
	transition: 1s

#galimgtr:hover
	transform: scale(.9)
	transition: 1s

// CONTACT AREA
#contact-row
	background-color: $color-brown

#cotact-list
	list-style-type: none
	margin: 0
	padding: 0

// NAV FOOTER
#foot-item
	li
		a 
			color: $color-white
			font-family: 'Quicksand', sans-serif
			letter-spacing: 1px
			margin-left: 10px
			margin-right: 10px