/* SASS */
* {
  font-family: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

strong {
  font-family: "Playfair Display", serif;
}

iframe {
  width: 100%;
  height: 100%;
}

#head-item li a {
  color: white;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

#nav-head, #nav-foot {
  background-color: #2f2004e6;
}

#head-name {
  font-family: "Modak", cursive;
  font-size: 35px;
  letter-spacing: 12px;
}

#icon-img {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #00c851;
  transition: 1s;
}

.nav-item:hover::after {
  width: 90%;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #00c851;
}

.nav-link {
  padding: 15px 5px;
  transition: 1s;
}

.dropdown-item.active, .dropdown-item:active {
  color: #212529;
}

.dropdown-item:focus, .dropdown-item:hover {
  background: #00c851;
}

#h2-home, #h2-gallery, #h2-about, #h2-about {
  color: white;
  letter-spacing: 10px;
  font-family: "Playfair Display", serif;
}

#home-row {
  background-color: #0e0a05bf;
  border-radius: 10px;
}

#home-text {
  color: #efeede;
  line-height: 200%;
  letter-spacing: 1px;
  text-indent: 50px;
}

#home-text::first-letter {
  font-size: 30px;
  font-family: "Modak", cursive;
}

#about-row {
  background-color: #4a3821db;
}

#about-pic {
  width: 70%;
  height: 90%;
  border-radius: 70px;
  margin-bottom: 30px;
  border: 2px solid white;
}

#about-text1, #about-text2 {
  color: #efeede;
  line-height: 200%;
  letter-spacing: 1px;
  text-indent: 50px;
}

#about-text1::first-letter {
  font-size: 30px;
  font-family: "Modak", cursive;
}

#about-text2::first-letter {
  font-size: 30px;
  font-family: "Modak", cursive;
}

#about-text-bg {
  background-color: #332405;
  border-radius: 10px;
  text-align: center;
}

#gal-bg, #gal-bg1, #gal-bg2, #gal-bg3 {
  border-radius: 10px;
  text-align: center;
}

#row-gal {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 5px;
  background-color: #0e0a05e6;
  border-radius: 10px;
}

#galimgtl, #galimgtr {
  width: 100%;
  border: 1px solid white;
  transition: transform 1s;
}

#galimgsolo {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid white;
  transition: transform 1s;
}

#galimgbottom {
  width: 50%;
  border: 1px solid white;
  transition: transform 1s;
}

#galimgbottom:hover {
  transform: scale(0.9);
  transition: 1s;
}

#galimgsolo:hover {
  transform: scale(0.9);
  transition: 1s;
}

#galimgtl:hover {
  transform: scale(0.9);
  transition: 1s;
}

#galimgtr:hover {
  transform: scale(0.9);
  transition: 1s;
}

#contact-row {
  background-color: #4a3821db;
}

#cotact-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#social-media {
  width: 100%;
}

#foot-item li a {
  color: white;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

.accordion.accordion-3 {
border-radius: 3px; }
.accordion.accordion-3 p {
font-size: 1rem; }
.accordion.accordion-3 .fa.fa-angle-down {
margin-top: -10px; }

.accordion .animated-icon1 span {
background: #F44336;
}

.card-text {
  color: brown;
}

/*# sourceMappingURL=style.css.map */